version: '3.7'

services:
  postgres:
    image: postgres:14.1
    ports:
      - '8090:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: artikool
      POSTGRES_PASSWORD: "QUxBvDvTuRP4dyxC6c7I25lblg_ztS1s"
    volumes:
      - artikool_data:/var/lib/postgresql/data
  redis:
    image: redis:6.2.6
    ports:
      - '8091:6379'
    command: redis-server --requirepass "ACXZib7KfQg7rmC4cQhy-2sADEVA9kBj"
    environment:
      - REDIS_REPLICATION_MODE=master
  api:
    image: testapi
    # ports:
    #   - '8080:8080'
    network_mode: 'host'
    # extra_hosts:
    #   - 'host.docker.internal:10.0.6.140'
    build: .
volumes:
  artikool_data:
